.onbording_container {
  width: 450px;
  height: 650px;
  margin: 60px auto;
  /* background-color: aquamarine; */
}
.onbording_logo {
  width: 200px;
  padding-left: 20px;
  display: flex;
  margin: 40px auto;
}
.onbording_logo > img {
  height: 60px;
  margin-left: 20px;
}
.onbording_logo > h2 {
  font-size: 30px;
  margin-top: 10px;
}
.progrss_bar {
  margin-left: 50px;
  gap: 30px;
}
.botton_section {
  height: 400px;
  padding-left: 40px;
}

@media only screen and (max-width: 450px) {
  .onbording_container {
    width: 380px;
    margin: 30px auto;
  }

  .botton_section {
    height: 400px;
    padding-left: 0px;
  }
}
